<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Admin</title>
	<webobjects name = "css" />
</head>
<body>
<webobject name = "wrapper"></webobject>
<h1>Admin</h1>
<h2>Login</h2>
    <p>
      <webobject name = "loginForm">
        Benutzername: 
        <webobject name = "benutzername" />
        Passwort: 
        <webobject name = "passwort" />
        <webobject name = "anmeldenSubmit" />
      </webobject>
    </p>
<webobject name = "footer"></webobject>
</body>
</html>
