<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Admin</title>
	<webobjects name = "css" />
	<webobjects name = "customcss" />
</head>
<webobject name = "wrapper"></webobject>
<h1>Admin</h1>
<h2>Login</h2>
    <p>
      <webobject name = "loginForm">
        Benutzername: 
        <webobject name = "benutzername" />
        Passwort: 
        <webobject name = "passwort" />
        <webobject name = "anmeldenSubmit" />
      </webobject>
      <webobject name = "zurueck">Zurück</webobject>
    </p>
<webobject name = "footer"></webobject>
</html>
