<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Admin</title>
	<webobjects name = "css" />
	<webobjects name = "customcss" />
</head>
<body>
<div class="container">
<div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
<h1>Admin</h1>
<h2>Login</h2>
    <p>
      <webobject name = "loginForm">
        Benutzername: 
        <webobject name = "benutzername" />
        Passwort: 
        <webobject name = "passwort" />
        <webobject name = "anmeldenSubmit" />
      </webobject>
      <webobject name = "zurueck">Zurück</webobject>
    </p>
</div>
<footer>
<div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
<webobject name = "githubLink">
<webobject name = "githubImg"></webobject>
<webobject name = "githubText"></webobject>
</webobject>
</div>
</footer>
</div>
</body>
</html>
