<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>HappyWritter</title>
	<webobjects name = "css" />
	<webobjects name = "customcss" />
</head>
<webobjects name="header"></webobjects>
<h1>Bestellung: <webobjects name="artikelName"></webobjects></h1>
<webobject name = "artikelIcon"></webobject>
<br>
<webobject name = "preis"></webobject>
<webobject name = "form">
<webobjects name = "bestaetigen"></webobjects>
<webobjects name = "nichtspeichern"></webobjects>
<webobjects name = "abbruch"></webobjects>
</webobject>
<webobjects name="footer"></webobjects>
</html>