<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>HappyWritter</title>
	<webobjects name = "css" />
	<webobjects name = "customcss" />
</head>
<body>
<div class="container">
<div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
<h1>Bestellung: <webobjects name="artikelName"></webobjects></h1>
<webobject name = "form">
<div class="row">
      <div class="col-md-6 col-sm-6">
      <webobject name = "artikelIcon"></webobject>
<br>
<webobject name = "preis"></webobject>
      </div>
      <div class="col-md-6 col-sm-6">
      <webobject name = "inhalte">
            <webobject name = "inhaltBezeichnung"/>
            <webobject name = "inhaltPreis"/>
        </webobject>
      </div>
      </div>
<webobjects name = "bestaetigen"></webobjects>
<webobjects name = "nichtspeichern"></webobjects>
<webobjects name = "abbruch"></webobjects>
</webobject>
</div>
<footer>
<div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
<webobject name = "githubLink">
<webobject name = "githubImg"></webobject>
<webobject name = "githubText"></webobject>
</webobject>

</div>
</footer>
</div>
</body>
</html>