<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>HappyWritter</title>
	<webobjects name = "css" />
</head>
<body>
<webobjects name = "wrapper"></webobjects>
<h1>Bitte kontrollieren Sie Ihre Angaben</h1>
 Nachname 
<webobject name = "nachname"></webobject>
    <br>
    Vorname 
    <webobject name = "vorname"></webobject>

    <br>
        Strasse 
<webobject name = "strasse"></webobject>
    <br>
        PLZ 
<webobject name = "plz"></webobject>
    <br>
        Ort 
<webobject name = "ort"></webobject>
    <br>
            Telefon 
<webobject name = "telefon"></webobject>
    <br>
                Bemerkungen 
                <webobject name = "bemerkungen"></webobject>
    <br>
                <div style="display: none;"><webobject name = "kundeseit"></webobject></div>

    	 <button class="btn btn-danger" type="button"><webobject name = "confirm">Bestätigen</webobject></button>
    	 <button class="btn btn-warning" type="button"><webobject name = "zurueck">Zurück</webobject></button>
	 <button class="btn btn-success" type="button"><webobject name = "abbrechen">Abbrechen</webobject></button>
<webobjects name = "footer"></webobjects>
</body>
</html>
