<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>HappyWritter</title>
	<webobjects name = "css" />
	<webobjects name = "customcss" />
</head>

<body>
<div class="container">
<div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
<h1>Bitte kontrollieren Sie Ihre Angaben</h1>
                <webobject name = "form">
   <div class="form-group row">  
     <label for="inputnachname" class="col-sm-2 col-form-label">Nachname</label>
     <div class="col-sm-10">
<webobjects name = "nachname" ></webobjects>
</div>
</div>
       <div class="form-group row">  
     <label for="inputvorname" class="col-sm-2 col-form-label">Vorname</label>
     <div class="col-sm-10">
 <webobjects name = "vorname" ></webobjects>
</div>
</div>
        <div class="form-group row">  
     <label for="inputstrasse" class="col-sm-2 col-form-label">Strasse</label>
     <div class="col-sm-10">
        <webobjects name = "strasse" ></webobjects>
        </div>
</div>       
        <div class="form-group row">  
     <label for="inputplz" class="col-sm-2 col-form-label">PLZ</label>
     <div class="col-sm-10">
        <webobjects name = "plz" ></webobjects>
        </div>
</div>


         
        <div class="form-group row">  
     <label for="inputort" class="col-sm-2 col-form-label">Ort</label>
     <div class="col-sm-10">
        <webobjects name = "ort" ></webobjects>
        </div>
</div>

   
             
            <div class="form-group row">  
     <label for="inputtel" class="col-sm-2 col-form-label">Telefon</label>
     <div class="col-sm-10">
            <webobjects name = "telefon" ></webobjects>
            </div>
</div>

    
                 
                <div class="form-group row">  
     <label for="inputbemerkungen" class="col-sm-2 col-form-label">Bemerkungen</label>
     <div class="col-sm-10">
                <webobjects name = "bemerkungen" ></webobjects>
                </div>
</div>
    
    
                <div><webobjects name = "kundeseit" ></webobjects></div>
                </webobject>

    	 <webobject name = "confirm">Bestätigen</webobject>
    	 <webobject name = "zurueck">Zurück</webobject>
	 <webobject name = "abbrechen">Abbrechen</webobject>
</div>
<footer>
<div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
<webobject name = "githubLink">
<webobject name = "githubImg"></webobject>
<webobject name = "githubText"></webobject>
</webobject>
</div>
</footer>
</div>
</body>

</html>
