{
    attributes = (
        {
            className = "java.lang.Number"; 
            columnName = "Artikel_id"; 
            externalType = INT; 
            name = artikelId; 
            precision = 10; 
            valueType = l; 
        }, 
        {
            className = "java.lang.Number"; 
            columnName = "Bestellung_id"; 
            externalType = INT; 
            name = bestellungId; 
            precision = 10; 
            valueType = l; 
        }, 
        {
            className = "java.lang.Number"; 
            columnName = id; 
            externalType = INT; 
            name = id; 
            precision = 10; 
            valueType = l; 
        }
    ); 
    attributesUsedForLocking = (artikelId, bestellungId, id); 
    className = "com.webobjects.eocontrol.EOGenericRecord"; 
    classProperties = (artikel, bestelltekonfigurations, bestellung); 
    externalName = bestellposition; 
    fetchSpecificationDictionary = {}; 
    name = Bestellposition; 
    primaryKeyAttributes = (artikelId, bestellungId, id); 
    relationships = (
        {
            destination = Artikel; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = artikelId; }); 
            name = artikel; 
        }, 
        {
            destination = Bestelltekonfiguration; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = bestellpositionId; sourceAttribute = id; }); 
            name = bestelltekonfigurations; 
        }, 
        {
            destination = Bestellung; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = bestellungId; }); 
            name = bestellung; 
        }
    ); 
}
