{
    attributes = (
        {
            className = "java.lang.Number"; 
            columnName = "BestellPosition_id"; 
            externalType = INT; 
            name = bestellpositionId; 
            precision = 10; 
            valueType = l; 
        }, 
        {
            className = "java.lang.Number"; 
            columnName = "Inhalt_id"; 
            externalType = INT; 
            name = inhaltId; 
            precision = 10; 
            valueType = l; 
        }
    ); 
    attributesUsedForLocking = (bestellpositionId, inhaltId); 
    className = "com.webobjects.eocontrol.EOGenericRecord"; 
    classProperties = (bestellposition, inhalt); 
    externalName = bestelltekonfiguration; 
    fetchSpecificationDictionary = {}; 
    name = Bestelltekonfiguration; 
    primaryKeyAttributes = (bestellpositionId, inhaltId); 
    relationships = (
        {
            destination = Bestellposition; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = bestellpositionId; }); 
            name = bestellposition; 
        }, 
        {
            destination = Inhalt; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = inhaltId; }); 
            name = inhalt; 
        }
    ); 
}
