{
    attributes = (
        {columnName = bemerkungen; name = bemerkungen; prototypeName = varchar50; }, 
        {columnName = datum; name = datum; prototypeName = date; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {allowsNull = N; columnName = kundeID; name = kundeID; prototypeName = id; }
    ); 
    attributesUsedForLocking = (bemerkungen, datum, id, kundeID); 
    className = "ch.lars.your.app.eomodel.Bestellung"; 
    classProperties = (bemerkungen, bestellPositions, datum, kunde); 
    externalName = Bestellung; 
    fetchSpecificationDictionary = {}; 
    name = Bestellung; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = BestellPosition; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = bestellungID; sourceAttribute = id; }); 
            name = bestellPositions; 
        }, 
        {
            destination = Kunde; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = kundeID; }); 
            name = kunde; 
        }
    ); 
}
