{
    attributes = (
        {columnName = bemerkungen; name = bemerkungen; prototypeName = varchar255; }, 
        {
            allowsNull = Y; 
            columnName = datum; 
            externalType = TIMESTAMP; 
            name = datum; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            className = "java.lang.Number"; 
            columnName = id; 
            externalType = INT; 
            name = id; 
            precision = 10; 
            valueType = l; 
        }, 
        {
            className = "java.lang.Number"; 
            columnName = "Kunde_id"; 
            externalType = INT; 
            name = kundeId; 
            precision = 10; 
            valueType = l; 
        }
    ); 
    attributesUsedForLocking = (bemerkungen, datum, id, kundeId); 
    className = "com.webobjects.eocontrol.EOGenericRecord"; 
    classProperties = (bemerkungen, bestellpositions, datum, kunde); 
    externalName = bestellung; 
    fetchSpecificationDictionary = {}; 
    name = Bestellung; 
    primaryKeyAttributes = (id, kundeId); 
    relationships = (
        {
            destination = Bestellposition; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = bestellungId; sourceAttribute = id; }); 
            name = bestellpositions; 
        }, 
        {
            destination = Kunde; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = kundeId; }); 
            name = kunde; 
        }
    ); 
}
