{
    attributes = (
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = kundeseit; name = kundeseit; prototypeName = date; }, 
        {
            allowsNull = N; 
            columnName = nachname; 
            name = nachname; 
            prototypeName = varchar50; 
        }, 
        {allowsNull = N; columnName = ort; name = ort; prototypeName = varchar50; }, 
        {allowsNull = N; columnName = plz; name = plz; prototypeName = varchar50; }, 
        {
            allowsNull = N; 
            columnName = strasse; 
            name = strasse; 
            prototypeName = varchar50; 
        }, 
        {allowsNull = N; columnName = tel; name = tel; prototypeName = varchar50; }, 
        {
            allowsNull = N; 
            columnName = vorname; 
            name = vorname; 
            prototypeName = varchar50; 
        }
    ); 
    attributesUsedForLocking = (id, kundeseit, nachname, ort, plz, strasse, tel, vorname); 
    className = "ch.lars.your.app.eomodel.Kunde"; 
    classProperties = (bestellungs, kundeseit, nachname, ort, plz, strasse, tel, vorname); 
    externalName = Kunde; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_javaClientClassName" = Kunde; }; 
    name = Kunde; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Bestellung; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = kundeID; sourceAttribute = id; }); 
            name = bestellungs; 
        }
    ); 
}
