<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>untitled</title>
	<webobjects name = "css" />
	<webobjects name = "customcss" />
</head>
<webobjects name="wrapper"></webobjects>
<webobject name = "angemeldetAls">
      <h1>Hallo <webobject name = "vollername" /></h1>
      <div class="row">
      <div class="col-md-6">
      <h2>Veränderbar</h2>
      </div>
      <div class="col-md-6">
      <h2>Unveränderbar</h2>
      </div>
    <div class="col-md-6">
       Inhalt Tabelle
      <webobject name = "inhalt"></webobject>
      <br>
      Neuer Inhalt erstellen
      <webobject name = "form">
      Name
      <webobject name = "name"></webobject>
      Preis
      <webobject name = "preis"></webobject>
      <webobject name = "erstellen"></webobject>
      </webobject>
      Konfiguration Tabelle
      <webobject name = "konfiguration"></webobject>
      <br>
            Konfiguration 
            <br>
            Artikel hat null oder mehrere Inhalte
            <br>
            Inhalte gehört null oder mehreren Artikeln
      <webobject name = "form">
      Artikel
      <webobject name = "artikelBeziehung"></webobject>
      Inahlt
      <webobject name = "inhaltBeziehung"></webobject>
      <webobject name = "erstellenBeziehung"></webobject>
      </webobject>
    </div>
    <div class="col-md-6">
      Artikel Tabelle
      <webobject name = "artikel"></webobject>
      <br>
      Kunde Tabelle
      <webobject name = "kunde"></webobject>
      <br>
                  Bestellung Tabelle
      <webobject name = "bestellung"></webobject>
      <br>
            Bestelltekonfiguration Tabelle
            <webobject name = "bestelltekonfiguration"></webobject>
      
      <br>
            Bestellposition Tabelle
      <webobject name = "bestellposition"></webobject>
      <br>
    </div>
  </div>
      <button class="btn btn-danger" type="button"><webobject name = "abmelden">Abmelden</webobject></button>
</webobject>
<webobjects name="footer"></webobjects>
</html>
