<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>untitled</title>
	<webobjects name = "css" />
	<webobjects name = "customcss" />
</head>
<body>
<div class="container">
<div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
<webobject name = "angemeldetAls">
      <h1>Hallo <webobject name = "vollername" /></h1>
      <div class="row">
      <div class="col-md-6">
      <h2>Veränderbar</h2>
      </div>
      <div class="col-md-6">
      <h2>Unveränderbar</h2>
      </div>
    <div class="col-md-6">
       Inhalt Tabelle
       <br>
       id, name, preis
      <webobject name = "inhalt"></webobject>
      <br>
      Neuer Inhalt erstellen
      <br>
      Name, Preis
      <webobject name = "form">
      Name
      <webobject name = "name"></webobject>
      Preis
      <webobject name = "preis"></webobject>
      <webobject name = "erstellen"></webobject>
      </webobject>
      Konfiguration Tabelle
      <br>
      artikelId, inhaltId
      <webobject name = "konfiguration"></webobject>
      <br>
            Konfiguration 
            <br>
            artikelId, inhaltId 
      <webobject name = "form">
      Artikel
      <webobject name = "artikelBeziehung"></webobject>
      Inahlt
      <webobject name = "inhaltBeziehung"></webobject>
      <webobject name = "erstellenBeziehung"></webobject>
      </webobject>
    </div>
    <div class="col-md-6">
      Artikel Tabelle
      <br>
      bezeichnung, id, preis
      <webobject name = "artikel"></webobject>
      <br>
      Kunde Tabelle
      <br>
      id, kundeseit, nachname, ort, plz, strasse, tel, vorname
      <webobject name = "kunde"></webobject>
      <br>
                  Bestellung Tabelle
                  <br>
                  bemerkungen, datum, id, kundeID
      <webobject name = "bestellung"></webobject>
      <br>
            Bestelltekonfiguration Tabelle
            <br>
            bestellPositionId, inhaltId
            <webobject name = "bestelltekonfiguration"></webobject>
      
      <br>
            Bestellposition Tabelle
            <br>
            ArtikelID, BestellungID, id
      <webobject name = "bestellposition"></webobject>
      <br>
    </div>
  </div>
      <button class="btn btn-danger" type="button"><webobject name = "abmelden">Abmelden</webobject></button>
</webobject>
</div>
<footer>
<div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
<webobject name = "githubLink">
<webobject name = "githubImg"></webobject>
<webobject name = "githubText"></webobject>
</webobject>
</div>
</footer>
</div>
</body>
</html>
