<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>untitled</title>
	<webobjects name = "css" />
</head>
<body>
<webobjects name="wrapper"></webobjects>
<webobject name = "angemeldetAls">
      <h2>Hallo <webobject name = "vollername" /></h2>
      <button class="btn btn-danger" type="button"><webobject name = "abmelden">Abmelden</webobject></button>
</webobject>
<webobjects name="footer"></webobjects>
</body>
</html>
