<!DOCTYPE html>
<html lang="de">
	<head>
		<title>HappyWritter</title>
		<webobjects name = "css" />
		<webobjects name = "customcss" />
	</head>
	
	<body>
<div class="container">
<div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
<h1>HappyWritter</h1>
<webobject name = "menu"></webobject>
<hr class="my-4">
<webobject name = "pruefeObEsFehlerHat">
<webobject name = "checkout">Check Out</webobject>
</webobject>
<webobject name = "zurueck">Zurück</webobject>
<p class="mb-0">Ihre Bestellung:</p>
 <webobject name = "nonEmptyWarenkorb">
<table class="table table-hover">
  <thead>
    <tr class="table-dark">
              <th scope = "row">Artikel</th>
              <th scope = "row">Inhalt</th>
              <th scope = "row">Preis</th>
              <th scope = "row"></th>
            </tr>
          </thead>
          <tbody>
            <webobject name = "artikel">
              <tr class="table-info">
                <td><webobject name = "artikelName" /></td>
                <td></td>
                <td><webobject name = "artikelPreis" /></td>
                <td>
                  <webobject name = "artikelLoeschen">lösche Artikel
                    <span class = "fas fa-times"></span>
                  </webobject>
                </td>
              </tr>
              <webobject name = "inhalte">
                <tr class="table-success">
                  <td></td>
                  <td> <webobject name = "inhaltName" /></td>
                  <td><webobject name = "inhaltPreis" /></td>
                  <td> 
                   <webobject name = "inhaltLoeschen">lösche Inhalt
                    <span class = "fas fa-times"></span>
                  </webobject>
                  </td>
                </tr>
              </webobject>
            </webobject>
            <tr>
              <th>Total</th>
              <th />
              <th><webobject name = "totalPreis" /></th>
              <th> </th>
            </tr>
          </tbody>
        </table>
      </webobject>
</div>
<footer>
<div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
<webobject name = "githubLink">
<webobject name = "githubImg"></webobject>
<webobject name = "githubText"></webobject>
</webobject>
</div>
</footer>
</div>
</body>
	
</html>
