<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>HappyWritter</title>
		<webobjects name = "css" />
	</head>
	<body>
	<webobjects name="wrapper"></webobjects>
<h1>HappyWritter</h1>
<webobject name = "menu"></webobject>
<hr>
<button class="btn btn-info" type="button"><webobject name = "checkout">Check Out</webobject></button>
<p class="mb-0">Ihre Bestellung:</p>
<webobject name = "bestelltePositionArtikelMitPreis"></webobject>
<webobjects name="footer"></webobjects>
	</body>
</html>
