<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>HappyWritter</title>
	<webobjects name = "css" />
</head>
<body>
<webobjects name = "wrapper" ></webobjects>
<h1>Bitte füllen Sie Ihre Angaben ein</h1>

<webobject name = "form">
    
    Nachname 
<webobjects name = "nachname" ></webobjects>
    <br>
    Vorname 
 <webobjects name = "vorname" ></webobjects>

    <br>
        Strasse 
        <webobjects name = "strasse" ></webobjects>

    <br>
        PLZ 
        <webobjects name = "plz" ></webobjects>

    <br>
        Ort 
        <webobjects name = "ort" ></webobjects>

    <br>
            Telefon 
            <webobjects name = "telefon" ></webobjects>

    <br>
                Bemerkungen 
                <webobjects name = "bemerkungen" ></webobjects>
    <br>
    
                <div style="display: none;"><webobjects name = "kundeSeit" ></webobjects></div>
	     	 <webobject name = "confirm"></webobject>
    	 <button class="btn btn-warning" type="button"><webobject name = "zurueck">Zurück</webobject></button>
    	   </webobject>
	 <button class="btn btn-success" type="button"><webobject name = "abbrechen">Abbrechen</webobject></button>
    
<webobjects name = "footer" ></webobjects>
</body>
</html>
